/* Website Toolbar */

div#ezwt
{
    margin: 0;
    width: 100%;
    position: relative;
}

body.floating-wt div#ezwt
{
    /* This elements offsetHeight is used to set padding-top on header in floating_toolbar.tpl, so avoid border on this element */
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

body.floating-wt div#ezwt:hover
{
    opacity: 1.0;
}

div#ezwt-content
{
    padding: 4px 70px;
    text-align: center;
    background: transparent url(../images/websitetoolbar/dark_back.png) repeat left top;
}

body.floating-wt div#ezwt-content
{
    border-bottom: 1px solid #44484d;
}


/* Group styles */

div#ezwt div.ezwt-actiongroup
{
    display: inline-block;
    vertical-align: top;
    padding: 1px 4px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;

}

div#ezwt div.ezwt-actiongroup:hover {
    border: 4px solid #567975;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

body.ie6 div#ezwt div.ezwt-actiongroup, body.ie7 div#ezwt div.ezwt-actiongroup
{
    display: inline;
    clear: none;
}

div#ezwt-ooaction
{
    background-image: url(../images/websitetoolbar/ezwt-oo-logo.png);
    background-position: 2px 5px;
    background-repeat: no-repeat;
    padding-left: 67px!important;
}

div#ezwt-ezlogo
{
    position: absolute;
    top: 10px;
    left: 10px;
}

div#ezwt-help
{
    position: absolute;
    top: 14px;
    right: 15px;
}

div#ezwt-help a
{
    font-weight: bold;
    color: #b7b7b7;
    padding: 0 2px 0 2px;
    text-decoration: none;
    display: block;
}

div#ezwt-help a:hover {
    color: #ffe9bd;
}


/* Form styles */

div#ezwt form
{
    margin: 0 auto 0 auto;
    padding: 0;
    display: inline;
}

div#ezwt select, div#ezwt input
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

div#ezwt select
{
    color: #4a5054;
    border: 1px solid #ccd2d6;
    border-color: #abb1b5 #dbe1e5 #dbe1e5 #abb1b5;
    margin: 3px 0 0 0;
    height: 25px;
    vertical-align: top;
}

div#ezwt input
{
    margin: 1px 0 0 0;/* images have 1px white space in the top so needs 1px less then buttons / selects */
}

div#ezwt input.button, div#ezwt input.defaultbutton, div#ezwt input.button-disabled
{
    color: #b7b7b7;
    vertical-align: top;
    margin: 2px 0 3px 0;
    border: 1px solid #3a3d41;
    -moz-box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
    -webkit-box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
    box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
    text-shadow: none;
    padding: 2px 7px;
    background: transparent;
}

div#ezwt input.defaultbutton[name=PublishButton] {
    background-color: #567975;
    color: #f5f3dd;
}

div#ezwt input.button:hover, div#ezwt input.defaultbutton:hover
{
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffe9bd;
}

div#ezwt input.button:active, div#ezwt input.defaultbutton:active
{
    background-color: rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px #000;
    -webkit-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    color: #ff8300;
}

div#ezwt input.defaultbutton[name=PublishButton]:hover {
    background-color: #425c59;
    color: #f5f3dd;
}

div#ezwt input.ezwt-input-image, div#ezwt div.ezwt-actiongroup a img
{
    margin: 2px 0px -3px 0px;
    border: 1px solid #3a3d41;
    -moz-box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
    -webkit-box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
    box-shadow: inset 1px 1px #6f6e6b, 1px 1px #6f6e6b;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div#ezwt input.ezwt-input-image:hover, div#ezwt div.ezwt-actiongroup a:hover img
{
    background-color: rgba(0, 0, 0, 0.2);
}

div#ezwt input.ezwt-input-image:active, div#ezwt div.ezwt-actiongroup a:active img
{
    background-color: rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px #000;
    -webkit-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
}

div#ezwt .disabled, div#ezwt input.button-disabled, div#ezwt input.ezwt-input-image.disabled, div#ezwt select.disabled
{
    background: transparent url(../images/websitetoolbar/diagonal_pattern.png) repeat center left;
    border-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}


/* Sort view style */

table#ezwt-sort-list tr.ezwt-sort-drag-handler
{
    cursor: move;
}


/* General styles */

.hide
{
    display: none;
}

.float-break
{
    height: 1%;
}

.float-break:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block; 
    clear: both; 
}
