/* Website Toolbar */

div#ezwt
{
    margin: 0.3em 0 0.3em 0;
    width: 100%;
    position: relative;
}

body.floating-wt div#ezwt
{
    /* This elements offsetHeight is used to set padding-top on header in floating_toolbar.tpl, so avoid border on this element */
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    margin: 0;
    opacity: 0.85;
}

body.floating-wt div#ezwt:hover
{
    opacity: 1.0;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -ms-transition-duration: 200ms;
}

div#ezwt-content
{
    padding: 2px 6px 0 6px;
    text-align: center;
    background-color: white;
    height: 32px;
}

body.floating-wt div#ezwt-content
{
    border-bottom: 1px solid black;
}


/* Group styles */

div#ezwt div.ezwt-actiongroup
{
    display: inline-block;
    vertical-align: top;
    padding: 2px 3px 2px 3px;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 24px;
}

body.ie6 div#ezwt div.ezwt-actiongroup, body.ie7 div#ezwt div.ezwt-actiongroup
{
    display: inline;
    clear: none;
}

div#ezwt-ooaction
{
    background-image: url(../images/websitetoolbar/ezwt-oo-logo.gif);
    background-position: 2px 5px;
    background-repeat: no-repeat;
    padding-left: 67px!important;
}

div#ezwt-ezlogo
{
    position: absolute;
    top: 1px;
    left: 8px;
}

div#ezwt-help
{
    position: absolute;
    top: 8px;
    right: 8px;
}

div#ezwt-help a
{
    font-weight: bold;
    color: #4a5054;
    padding: 0 2px 0 2px;
    text-decoration: none;
    display: block;
}


/* Form styles */

div#ezwt form
{
    margin: 0 auto 0 auto;
    padding: 0;
    display: inline;
}

div#ezwt select, div#ezwt input
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

div#ezwt select
{
    color: #4a5054;
    background-color: #f0f2f4;
    margin: 2px 0 0 0;
    padding: 0;
    border: 1px solid #ccd2d6;
    border-color: #abb1b5 #dbe1e5 #dbe1e5 #abb1b5;
    height: 19px;
    vertical-align: top;
}

div#ezwt input
{
    margin: 1px 0 0 0;/* images have 1px white space in the top so needs 1px less then buttons / selects */
}

div#ezwt input.button, div#ezwt input.defaultbutton
{
    color: #4a5054;
    background: #f2f4f6 url(../images/websitetoolbar/ezwt-button-bg.gif) repeat-x center left;
    border: 1px solid;
    border-color: #dbe1e5 #abb1b5 #abb1b5 #dbe1e5;
    padding: 0 0.25em 0 0.25em;
    vertical-align: top;
    height: 19px;
    margin-top: 2px;
}

div#ezwt .ezwt-disable-cursor 
{
    cursor: default;
}

div#ezwt input.ezwt-input-image, div#ezwt a img
{
    margin: 4px 0 0 0;
}


/* Sort view style */

table#ezwt-sort-list tr.ezwt-sort-drag-handler
{
    cursor: move;
}

/* General styles */

.hide
{
    display: none;
}

.float-break
{
    height: 1%;
}

.float-break:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block; 
    clear: both; 
}
